* {
	margin:0px;
	padding:0px;
	font-family: sans-serif;
	box-sizing: border-box;
}

body {
	height: 100vh;
	max-height: 100vh;
}

.wrapper {
	display: grid;
	grid-template-columns: auto 1fr;
	background-color: white;
	height: 100vh;
	max-height: 100vh;
	overflow: hidden;
}

#chooser {
	grid-column: 1;
	background-color: rgba(0, 0, 0, 0.15);
	color: rgba(0, 0, 0, 0.7);
	padding: 0px 10px;
	font-size: 12px;
	height: 100vh;
	max-height: 100vh;
	overflow-y: scroll;
}

#content {
	grid-column: 2;
	background-color: rgba(0, 0, 0, 0.05);
	padding: 0px 0px 20px 20px;
	height: 100vh;
	max-height: 100vh;
	overflow-y: scroll;
}

#detail {
	background-color: rgba(0, 0, 0, 0.05);
	position: absolute;
	display: hidden;
}

h1, h2, h3 {
    font-weight: normal;
    font-style: italic;
    margin: 10px 0px 8px 0px;
    color: rgba(0, 0, 0, 0.7);
}

table,
tr, 
td {
	border-collapse: collapse;
}

pre {
	background-color: rgba(0, 0, 0, 0.05);
	font-family: monospace;
	padding: 2px 4px;
    border-radius: 3px;
    text-align: center;
}

input[type=checkbox] {
	margin: 5px 0px 6px 0px;
}

label {
	cursor: pointer;
	padding: 0px 10px 1px 4px;
	width: 100vw;
}

label:hover {
	color: black;
}

.rangeTable {
    margin-bottom: 20px;
}

.charTile {
	width: 36px;
	height: 36px;
	background-color: white;
	text-align: center;
	line-height: 36px;
    margin: 0px 1px 1px 0px;
}