* {
	margin:0px;
	padding:0px;
	font-family: sans-serif;
	box-sizing: border-box;
}

body {
	height: 100vh;
	max-height: 100vh;
}

.wrapper {
	display: grid;
	grid-template-columns: auto 1fr;
	background-color: white;
	height: 100vh;
	max-height: 100vh;
	overflow: hidden;
}

#chooser {
	grid-column: 1;
	background-color: rgba(0, 0, 0, 0.15);
	color: rgba(0, 0, 0, 0.7);
	padding: 0px 10px;
	font-size: 12px;
	height: 100vh;
	max-height: 100vh;
	overflow-y: scroll;
}

#content {
	grid-column: 2;
	background-color: rgba(0, 0, 0, 0.05);
	padding: 0px 0px 20px 20px;
	height: 100vh;
	max-height: 100vh;
	overflow-y: scroll;
}

#detail {
	background-color: rgba(0, 0, 0, 0.05);
	position: absolute;
	display: hidden;
}

h1, h2, h3 {
    font-weight: normal;
    font-style: italic;
    margin: 10px 0px 8px 0px;
    color: rgba(0, 0, 0, 0.7);
}

table,
tr, 
td {
	border-collapse: collapse;
}

pre {
	background-color: rgba(0, 0, 0, 0.05);
	font-family: monospace;
	padding: 2px 4px;
    border-radius: 3px;
    text-align: center;
}

input[type=checkbox] {
	margin: 5px 0px 6px 0px;
}

label {
	cursor: pointer;
	padding: 0px 10px 1px 4px;
	width: 100vw;
}

label:hover {
	color: black;
}

.rangeTable {
    margin-bottom: 20px;
}

.charTile {
	width: 36px;
	height: 36px;
	background-color: white;
	text-align: center;
	line-height: 36px;
    margin: 0px 1px 1px 0px;
}

.allNoto {
    font-family: 'Noto Sans',
    'Noto Sans Kannada',
    'Noto Sans Thaana',
    'Noto Sans Gurmukhi UI',
    'Noto Sans Telugu',
    'Noto Sans Oriya',
    'Noto Sans Gujarati UI',
    'Noto Sans Sundanese',
    'Nico Moji',
    'Noto Sans Samaritan',
    'Noto Sans Linear B',
    'Noto Sans New Tai Lue',
    'Noto Sans Gothic',
    'Hannari',
    'Lohit Bengali',
    'Noto Sans Malayalam UI',
    'Noto Sans Shavian',
    'Noto Sans Tagbanwa',
    'Noto Sans Old Turkic',
    'Noto Sans Kannada UI',
    'Noto Sans Osmanya',
    'Noto Sans Tifinagh',
    'Noto Sans Deseret',
    'Noto Sans Cypriot',
    'Noto Sans Old Italic',
    'Noto Sans Tai Viet',
    'Noto Sans Yi',
    'Noto Sans Tai Tham',
    'Noto Sans Bengali',
    'Noto Sans Tamil',
    'Noto Sans Tagalog',
    'Noto Sans Thai UI',
    'Noto Sans Ethiopic',
    'Jeju Gothic',
    'Jeju Myeongjo',
    'Noto Sans Carian',
    'Noto Sans Inscriptional Pahlavi',
    'KoPub Batang',
    'Noto Sans Lao',
    'Ponnala',
    'Noto Sans Imperial Aramaic',
    'Noto Sans Inscriptional Parthian',
    'Noto Serif Georgian',
    'Noto Naskh Arabic',
    'Noto Sans Devanagari',
    'Noto Sans Meetei Mayek',
    'Noto Sans Tamil UI',
    'Thabit',
    'Noto Sans Brahmi',
    'Noto Sans Ol Chiki',
    'Karla Tamil Inclined',
    'Lao Muang Khong',
    'Noto Sans Runic',
    'Karla Tamil Upright',
    'Lao Muang Don',
    'Nikukyu',
    'Noto Sans Khmer',
    'Phetsarath',
    'Noto Nastaliq Urdu Draft',
    'Noto Sans Javanese',
    'Noto Nastaliq Urdu',
    'Noto Sans Myanmar UI',
    'Noto Sans Japanese',
    'Noto Sans Oriya UI',
    'Noto Sans SC Sliced',
    'Noto Sans Balinese',
    'Noto Kufi Arabic',
    'Noto Sans Cham',
    'Myanmar Sans Pro',
    'Noto Sans Batak',
    'Noto Sans Phoenician',
    'Noto Sans Kayah Li',
    'Noto Sans Rejang',
    'Noto Sans Sinhala',
    'Noto Sans Lepcha',
    'Noto Serif Khmer',
    'Noto Sans Kufi Arabic',
    'Noto Sans Egyptian Hieroglyphs',
    'Noto Sans Bamum',
    'Noto Sans Lycian',
    'Noto Sans Syloti Nagri',
    'Noto Sans Tai Le',
    'Noto Sans Gujarati',
    'Noto Sans Myanmar',
    'Lohit Devanagari',
    'Noto Sans Avestan',
    'Noto Sans Gurmukhi',
    'Noto Sans Kharoshthi',
    'Noto Sans Ugaritic',
    'Open Sans Hebrew',
    'Lohit Tamil',
    'Noto Sans Mandaic',
    'Noto Sans Old Persian',
    'NATS',
    'Noto Sans Old South Arabian',
    'Noto Sans Armenian',
    'Noto Sans Malayalam',
    'Noto Sans Cherokee',
    'Noto Sans Vai',
    'Noto Sans Hanunoo',
    'Noto Sans Khmer UI',
    'Noto Sans Lao UI',
    'Lao Sans Pro',
    'Hanna',
    'Kokoro',
    'Noto Sans Devanagari UI',
    'Noto Sans Telugu UI',
    'Open Sans Hebrew Condensed',
    'Noto Sans Phags Pa',
    'Dhyana',
    'Noto Sans Canadian Aboriginal',
    'Noto Sans Mongolian',
    'Noto Sans Kaithi',
    'Noto Serif Armenian',
    'Noto Sans Georgian',
    'Noto Sans Tibetan',
    'Noto Serif Thai',
    'Noto Sans Saurashtra',
    'Noto Sans Lisu',
    'Noto Sans Syriac Eastern',
    'Noto Sans Thai',
    'Noto Sans Bengali UI',
    'Noto Sans Buhid',
    'Jeju Hallasan',
    'Noto Sans Buginese',
    'Noto Sans Coptic',
    'Noto Sans Syriac Western',
    'Noto Sans Lydian',
    'Souliyo',
    'Tharlon',
    'Noto Sans Cuneiform',
    'Noto Serif Lao',
    'Noto Sans Hebrew',
    'Noto Sans Limbu',
    'Noto Sans Syriac Estrangela',
    'Noto Naskh Arabic UI',
    'Noto Sans Ogham',
    sans-serif
}