
	* {
		margin:0px;
		padding:0px;
	}

	/*	LEFT BAR 	*/

	.leftbar {
		font-family: arial;
		display:block;
		position: fixed;
		top:0px;
		left:0px;
		width:400px;
		height:100%;
		background-color:rgb(235,241,245);
		overflow:hidden;
		padding:20px 0px 0px 20px;
	}

	.leftbar h1 {
		font-size:28px;
		padding-left:20px;
		font-weight: normal;
		color:rgb(0,90,136);
	}

	.tab {
		font-size:18px;
		padding:12px 0px 12px 20px;
		cursor:pointer;
		background-color:rgb(225,234,240);
		border-bottom: 1px solid rgb(200,200,200);
	}

	.tab:hover {
		color:rgb(0,90,136);
	}

	#showclick {
		margin: 30px 20px 40px 20px;
		width:350px;
		overflow: visible;
		border:1px solid rgb(60,60,60);
	}

	#showclick input {
		height: 100px;
		font-size:40px;
		text-align: center;
		vertical-align: middle;
		border:0;
	}

	#showclick .showclickleft {
		width:110px;
		color:rgb(230,230,230);
		background-color:rgb(60,60,60);
	}

	#showclick .showclickright {
		background-color:white;
		color:rgb(60,60,60);
		width: 240px;
	}

	#showclick .showbottomclick {
		color:rgb(230,230,230);
		background-color:rgb(60,60,60);		
		width:350px;
		text-align: center;
		font-size: 16px;
		height: 30px;
		text-transform: lowercase;
	}

	.inputarea {
		font-size:20px;
		padding-left:20px;
		margin-top: 40px;
	}

	.inputarea input {
		font-size:20px;
		background-color:white;
		color:rgb(60,60,60);
		padding:4px;
		border:1px solid rgb(230,230,230);
	}

	.infoarea {
		font-size:12px;
		margin:40px 0px 0px 20px;
	}

	/*	RIGHT AREA 	*/

	#content {
		padding:20px;
		margin-left:420px;
	}

	#symboltable {
		font-size:24px;
		font-family:sans-serif;
		border-collapse: collapse;
		width:80%;
	}

	#symboltable td {
		border:1px solid rgb(240,240,240);
		text-align: center;
	}

	.symbol {
		padding:.2em;
		text-align:center;
		cursor:pointer;
		background-color:white;
		color:rgb(60,60,60);
	}

	.symbol:hover {
		background-color:rgb(204,244,255);
		color:black;
	}

	.label {
		background-color:rgb(240,240,240);
		font-size:.4em;
		color:rgb(127,127,127);
	}
