
* {
	margin:0px;
	padding:0px;
	font-family: sans-serif;
}

body {
	display: grid;
	grid-template-columns: 400px 1fr 200px;
	background-color: white;
}

#leftbar {
	grid-column: 1;
	background-color: rgba(0, 0, 0, 0.1)
}

#content {
	grid-column: 2;
	background-color: rgba(0, 0, 0, 0.05)
}

#detail {
	grid-column: 3;
	background-color: rgba(0, 0, 0, 0.05)
}

pre {
	background-color: rgba(0, 0, 0, 0.05);
	font-family: monospace;
	padding: 2px 4px;
	border-radius: 3px;
}
