/**
	==================
		Overrides
	==================
**/

:root {
	--gray-05: hsl(210, 5%, 5%);
	--gray-10: hsl(210, 15%, 10%);
	--gray-20: hsl(210, 15%, 20%);
	--gray-40: hsl(210, 15%, 40%);
	--gray-60: hsl(210, 5%, 60%);
	--gray-80: hsl(210, 5%, 80%);
	--gray-90: hsl(210, 5%, 90%);
	--gray-95: hsl(210, 5%, 95%);
	
	--gray-10-alpha: hsla(210, 15%, 10%, 0.4);
	--gray-90-alpha: hsla(210, 5%, 90%, 0.4);

	--accent-15: hsl(340, 90%, 15%);
	--accent-20: hsl(340, 90%, 20%);
	--accent-30: hsl(340, 95%, 30%);
	--accent-50: hsl(340, 70%, 50%);
	--accent-70: hsl(340, 60%, 70%);
}

* {
	margin:0px;
	padding:0px;
	font-family: sans-serif;
	box-sizing: border-box;
	cursor: default;
}

body {
	height: 100vh;
	max-height: 100vh;
}

h1, h2, h3 {
	color: var(--accent-15);
	font-weight: normal;
	font-style: italic;
	margin: 1px 0px 10px 0px;
}

a,
a:link,
a:visited,
a:active {
	color: var(--accent-30);
}

a:hover {
	color: var(--accent-50);
}

button {
	padding: 4px 12px;
	border: 1px solid transparent;
	background-color: transparent;
	color: var(--gray-60);
	border-radius: 4px;
}

button:hover,
a:hover {
	cursor: pointer;
	color: var(--accent-50);
}

canvas {
	background-color: white;
}

pre {
	background-color: var(--gray-80);
	color: var(--gray-05);
	font-family: monospace;
	padding: 2px 4px;
	border-radius: 3px;
	text-align: center;
	display: inline-block;
}

ul, ol {
	margin-left: 20px;
}

li {
	margin-bottom: 6px;
}


/**
	Common
**/

#wrapper {
	display: grid;
	grid-template-columns: 460px 1fr;
	grid-template-rows: min-content 50px 1fr;
	background-color: var(--gray-10);
	height: 100vh;
	max-height: 100vh;
	overflow: hidden;
}

#content {
	grid-row: 2 / 4;
	grid-column: 2 / 4;
	background-color: var(--gray-90);
	padding: 30px 10px 20px 30px;
	overflow-y: scroll;
	z-index: 300;
}

.actionButton {
	display: inline-block;
	border: 0;
	border-radius: 50%;
	background-color: var(--gray-40);
	color: var(--gray-80);
	font-size: 13px;
	padding: 4px;
	text-align: center;
	line-height: 0px;
	height: 22px;
	width: 22px;
}

.actionButton:hover {
	background-color: var(--accent-50);
	color: white;
	cursor: pointer;
}


/**
	====================
		Top grid row
	====================
**/

#logo {
	grid-row: 1;
	grid-column: 1;
	background-color: var(--gray-10);
	box-shadow: 0px 15px 0px var(--gray-10);
	padding: 10px 0px 0px 20px;
	z-index: 900;
	font-weight: bold;
	font-size: 36px;
	color: var(--accent-70);
	display: inline-block;
}

#header {
	box-shadow: 
		0px -2px 4px var(--gray-10-alpha) inset,
		0px 4px 4px var(--gray-90-alpha);
	background-color: var(--gray-80);
	display: grid;
	grid-template-columns: 260px 1fr;
	z-index: 400;
}

/**
	Page Chooser
**/
#pageTabs {
	grid-row: 1;
	grid-column: 1;
}

#pageTab {
	background-color: var(--gray-90);
	color: var(--accent-15);
	text-align: center;
	border-radius: 4px 4px 0px 0px;	
	border-style: solid;
	border-width: 3px 0px 0px 0px;
	border-color: var(--accent-15);
	margin: 0px 30px;
	position: relative;
	top: 10px;
	height: 54px;
	width: 200px;
	font-size: 1.2em;
	padding: 0px 8px 0px 0px;
}

#pageTab:hover {
	color: var(--accent-50);
	border-color: var(--accent-50);
}

#pageChooser {
	position: absolute;
	display: none;
	width: min-content;
	z-index: 1000;
	background-color: var(--gray-90);
	box-shadow: 0px 4px 4px var(--gray-10-alpha);
	margin-top: 5px;
	padding: 10px;
	width: 260px;
}

#pageChooser button {
	display: block;
	width: 100%;
	text-align: left;
	font-size: 1.2em;
	color: var(--gray-10);
	padding: 10px 24px;
}

#pageChooser button:hover {
	background-color: var(--gray-95);
	color: var(--accent-15);
}

/**
	Char Search Area
**/

#charSearchBar {
	grid-row: 1;
	grid-column: 2;
	height: 100%;
	z-index: 100;
	display: grid;
	grid-template-columns: 360px 1fr;
	grid-column-gap: 20px;
}

.charSearchInputGroup {
	background-color: white;
	border-radius: 3px;
	padding: 4px;
	margin: 10px 0px 10px 0px;
	grid-column: 1;
	display: grid;
	grid-template-columns: 30px 300px 20px;
}

.charSearchInputGroup .searchIcon {
	font-size: 1.5em;
	width: 30px;
	text-align: center;
	margin-top: 2px;
	color: var(--gray-80);
}

.charSearchInputGroup #searchInput {
	font-size: 1.1em;
	color: var(--gray-05);
	border: 0px;
	margin-left: 4px;
}

.charSearchInputGroup .actionButton {
	margin: 7px 0px 0px 0px;
	background-color: white;
}

.charSearchInputGroup .actionButton:hover {
	background-color: var(--accent-70);
}

#charSearchStatus {
	grid-column: 2;
	color: var(--gray-20);
	font-style: italic;
	display: table-cell;
	vertical-align: middle;
	padding: 18px 0px 0px 0px;
}


/**
	======================
		Second grid row
	======================
**/

#rangeTabs {
	grid-row: 2;
	grid-column: 1;
	background-color: var(--gray-10);
	box-shadow: 0px 2px 4px var(--gray-20);
	overflow: hidden;
	vertical-align: bottom;
	display: grid;
	grid-template-columns: 1fr 1fr 2fr;
	z-index: 100;
}

#rangeTabs button {
	display: inline-block;
	background-color: var(--gray-10);
	color: var(--gray-80);
	border-style: solid;
	border-width: 3px 0px 0px 0px;
	border-color: transparent;
	font-size: 1.1em;
	padding: 5px 15px 5px 15px;
	margin-left: 20px;
	height: 80%;
	position: relative;
	top: 20%;
	border-radius: 4px 4px 0px 0px;
}

#rangeTabs button:hover {
	cursor: pointer;
	color: var(--gray-90);
}

#rangeTabs .selected {
	background-color: var(--gray-20);
	color: var(--gray-90);
	border-color: var(--accent-50);
}


/**
	=====================
		Main grid row
	=====================
**/

/**
	Range Chooser
**/

#rangeChooser {
	grid-row: 3;
	grid-column: 1;
	background-color: var(--gray-20);
	color: var(--gray-80);
	padding: 20px;
	font-size: 0.9em;
	display: grid;
	grid-template-columns: min-content 20px 1fr 70px 70px;
	grid-row-gap: 6px;
	grid-column-gap: 4px;
	overflow-y: scroll;
	overflow-x: hidden;
	border-right: 2px solid var(--gray-10);
}

.spanTwo {
	grid-column: span 2;
}

#rangeChooser h2,
#rangeChooser h3 {
	font-weight: normal;
	font-style: italic;
	color: var(--gray-80);
	grid-column-start: 1;
	grid-column-end: 6;
}

#rangeChooser label:hover {
	color: var(--gray-90);
	cursor: pointer;
}

.note {
	color: var(--accent-50);
	display: inline-block;
	opacity: 0.8;
	background-color: transparent;
	padding: 1px 1px 1px 0px;
	border-radius: 2px;
	width: 12px;
	height: 12px;
	line-height: 8px;
	text-align: left;
}

.note:hover {
	background-color: var(--gray-40);
	color: var(--gray-05);
	color: var(--accent-70);
	opacity: 1;
	cursor: help;
}

.group {
	font-size: 1.2em;
	font-style: italic;
	grid-column: 2 / span 3;
}

.skipRow {
	grid-column: 1 / span 5;
	font-size: 0.2em;
}

.count {
	padding-right: 4px;
	text-align: right;
	color: var(--gray-60);
}

#rangeChooser pre {
	background-color: var(--gray-10);
	color: var(--gray-80);
}

#rangeChooser button {
	background-color: var(--gray-10);
	color: var(--gray-80);
	margin: 12px 0px 20px 0px;
	grid-column: 2 / span 3;
}

#rangeChooser button:hover {
	background-color: var(--accent-30);
	color: var(--gray-90);
}


/**
	=============
		Pages
	=============
**/

/**
	Page - Welcome
**/

.welcome {
	max-width: 800px;
	color: var(--gray-20);
}

.welcome div {
	line-height: 1.4em;
}

.welcome div pre {
	line-height: 1.1em;
}

.welcome h2,
.welcome h3 {
	margin-top: 20px !important;
}

/**
	Page - Settings
**/

.settings {
	max-width: 800px;
}

.value input[type=number],
.value option {
	width: 200px;
	padding: 2px 0px 2px 2px;
}

/**
	Page - Ranges
**/

.copyCode {
	display: inline-block;
	background-color: white;
	color: var(--gray-05);
	cursor: text;
	padding: 4px;
	font-family: monospace;
	min-width: 80px;
}

.contentCharBlock {
	margin: 0px 10px 30px 0px;
	display: grid;
	grid-template-columns: repeat(17, 48px);
	grid-column-gap: 1px;
	grid-row-gap: 1px;
}

.contentCharBlock .title {
	grid-row: 1;
	grid-column-start: 1;
	grid-column-end: 15;
	margin: 4px 0px 12px 0px;
}

.contentCharBlock .actions {
	text-align: right;
	grid-row: 1;
	grid-column-start: 15;
	grid-column-end: 18;
}

.contentCharBlock .actions .actionButton {
	position: relative;
	top: 8px;
}

.hex {
	background-color: var(--gray-80);
	color: var(--gray-10);
	font-family: monospace;
	padding: 4px;
	display: table;
	text-align: center;
}

.hex span {
	background-color: var(--gray-80);
	color: var(--gray-10);
	display: table-cell;
	font-family: monospace;
	vertical-align: middle;
}

.charTile {
	border: 1px solid white;
	background-color: white;
	color: black;
	text-align: center;
}

.charTile:hover {
	cursor: pointer;
	border-color: var(--accent-70);
}

.charTile.small {
	min-width: 28px;
	height: 28px;
	line-height: 26px;
	font-size: 24px;
}

.charTile.medium {
	min-width: 48px;
	height: 48px;
	line-height: 48px;
	font-size: 28px;	
}

.charTile.large {
	display: inline-block;
	height: 120px;
	min-width: 120px;
	font-size: 96px;
	line-height: 120px;
	margin-right: 12px;
}

.charTile.large:hover {
	cursor: text;
	border-color: white;
}

.noChar {
	opacity: 0.4;
	user-select: none;
}

.noChar:hover {
	cursor: not-allowed;
	border-color: transparent;
}

.titleLink {
	font-size: 0.6em;
	font-family: 'Times New Roman', Times, serif;
	opacity: 0.4;
	text-decoration: none;
	margin-left: 10px;
	font-style: normal;
}

.titleLink:hover {
	text-decoration: underline;
	opacity: 1;
}

.highlight {
	background-color: rgba(255, 255, 0, 0.2);
}

/**
	Page - Search
**/

.charSearchResults {
	display: grid;
	grid-template-columns: 28px repeat(100, 1fr);
	grid-column-gap: 2px;
	grid-row-gap: 2px;
	margin-top: 15px;
}

.charSearchResults .columnHeader {
	background-color: var(--gray-80);
	color: var(--gray-20);
	padding: 8px 8px 8px 4px;
	font-style: italic;
	font-size: 0.6em;
}

.charSearchResults .rowWrapper {
	display: contents;
}

.charSearchResults .rowWrapper div {
	border-style: solid;
	border-color: transparent;
	border-width: 1px 0px 1px 0px;
	background-color: var(--gray-95);
	display: table-cell;
	vertical-align: middle;
	max-height: 28px;
}

.charSearchResults .rowWrapper:hover div {
	background-color: white;
	border-color: var(--accent-70);
}

.charSearchResults .rowWrapper:hover * {
	cursor: pointer;
}

.charSearchResults .charTile {
	padding: 0 !important;
	background-color: white !important;
	max-width: 28px;
	grid-column: 1;
}

.charSearchResults .charName,
.charSearchResults .rangeName {
	padding: 4px 4px 0px 8px;
}

.charSearchResults .codePoint {
	padding: 1px 4px 0px 4px;
}

.charSearchResults .charFavorite,
.charSearchResults .charFavorite:hover {
	padding: 1px 4px 0px 4px;
	border: 1px solid transparent !important;
	background-color: var(--gray-95) !important;
}

/**
	Page - Favorites
**/

.favorite,
.addFavorite {
	padding: 2px 4px;
	border-radius: 3px;
	border: 1px solid transparent;
}

.favorite {
	border-color: hsl(55, 67%, 67%);
	background-color: hsl(55, 100%, 90%);
	color: hsl(40, 50%, 50%);
}

.favorite:hover {
	color: hsl(40, 50%, 60%);
	border-color: hsl(55, 67%, 80%);
}

.addFavorite {
	background-color: rgba(0, 0, 0, 0.02);
}

.addFavorite:hover {
	color: hsl(55, 100%, 30%);
}


/**
	Dialog
**/

.dialog {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	z-index: 1000;
	opacity: 0;
	transition: opacity 100ms ease-in-out;
}

.dialogContent {
	padding: 0px 20px 30px 30px;
	margin: 10vh auto 0px auto;
	max-height: 80vh;
	width: 700px;
	background-color: var(--gray-90);
	text-align: left;
	border: 1px solid var(--gray-40);
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
	opacity: 0;
	transition: opacity 200ms ease-in-out;
	transition-delay: 100ms;
}

.dialogContent h1,
.dialogContent h2,
.dialogContent h3 {
	color: var(--gray-20);
	font-weight: normal;
	margin-bottom: 12px;
}

.dialog .actionButton {
	border-radius: 0 0 0 4px !important;
	width: 2em; height: 2em;
	position: relative;
	top: -1px; 
	left: 21px;
}

.twoColumn {
	display: grid;
	grid-template-columns: min-content 1fr;
	grid-row-gap: 12px;
	grid-column-gap: 12px;
}

.colOne {
	grid-column: 1;
}

.colTwo {
	grid-column: 2;
}

.key {
	grid-column: 1;
	color: var(--gray-10);
}

.value {
	grid-column: 2;
	color: var(--gray-05);
	text-align: left;
}

.light {
	opacity: 0.5;
}

select {
	padding: 2px 0px 2px 2px;
}
