:root {
    --dark-bg-dark: hsl(210, 15%, 10%);
    --dark-bg-light: hsl(210, 15%, 20%);
    --dark-bg-lighter: hsl(210, 15%, 40%);
    --dark-text-darker: hsl(210, 5%, 60%);
    --dark-text-dark: hsl(210, 5%, 80%);
    --dark-text-light: hsl(210, 5%, 95%);
    --dark-accent:  hsl(340, 95%, 30%);
    --dark-accent-light:  hsl(340, 40%, 50%);

    --light-bg-darker: hsl(210, 5%, 60%);
    --light-bg-dark: hsl(210, 5%, 80%);
    --light-bg-light: hsl(210, 5%, 90%);
    --light-text-dark: hsl(210, 5%, 5%);
    --light-text-light: hsl(210, 5%, 10%);
    --light-text-lighter: hsl(210, 5%, 20%);
    --light-accent:  hsl(340, 80%, 40%);
    --light-accent-light:  hsl(340, 80%, 70%);
}

* {
	margin:0px;
	padding:0px;
	font-family: sans-serif;
    box-sizing: border-box;
    cursor: default;
}

body {
	height: 100vh;
	max-height: 100vh;
}

button {
    padding: 4px 12px;
    border: 1px solid transparent;
    background-color: transparent;
    color: var(--light-bg-darker);
    border-radius: 4px;
}

button:hover,
a:hover {
    cursor: pointer;
}

canvas {
    background-color: white;
}

#wrapper {
    display: grid;
	grid-template-columns: 500px 1fr;
	background-color: var(--dark-bg-dark);
	height: 100vh;
	max-height: 100vh;
	overflow: hidden;
}

#tabs {
    grid-row: 1;
    grid-column: 1;
    background-color: var(--dark-bg-dark);
    overflow: hidden;
    vertical-align: bottom;
}

#tabs button {
    display: inline-block;
    background-color: var(--dark-bg-dark);
    color: var(--dark-text-dark);
    border-style: solid;
    border-width: 3px 0px 0px 0px;
    border-color: transparent;
    font-size: 1.1em;
    padding: 5px 15px 5px 15px;
    margin-left: 10px;
    height: 50%;
    position: relative;
    top: 50%;
    border-radius: 4px 4px 0px 0px;
}

#tabs button:hover {
    cursor: pointer;
    color: var(--dark-text-light);
}

#tabs .selected {
    background-color: var(--dark-bg-light);
    color: var(--dark-text-light);
    border-color: var(--dark-accent);
}

#header {
    grid-row: 1;
    grid-column: 2;
    background-color: var(--light-bg-dark);
    border-left: 2px solid var(--dark-bg-dark);
    padding-left: 20px;
    border-top-left-radius: 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    overflow-y: visible;
    z-index: 100;
}

#header h1 {
    font-weight: bold;
    font-size: 48px;
    color: var(--light-accent);
    margin: 2px 0px 12px 0px;
    display: inline-block;
}

#tools {
    width: 50%;
    text-align: right;
    position: absolute;
    right: 20px;
    top: 25px;
}

.actionButton {
    display: inline-block;
    border: 0;
    border-radius: 50%;
    background-color: var(--dark-bg-lighter);
    color: var(--dark-text-dark);
    font-size: 13px;
    padding: 4px;
    text-align: center;
    line-height: 0px;
    height: 22px;
    width: 22px;
}

.actionButton:hover {
    background-color: var(--light-accent);
    color: white;
    cursor: pointer;
}

#chooser {
    grid-row: 2;
    grid-column: 1;
	background-color: var(--dark-bg-light);
	color: var(--dark-text-dark);
	padding: 20px;
    font-size: 0.9em;
    display: grid;
    grid-template-columns: 20px 20px 1fr 1fr 70px;
    grid-row-gap: 6px;
    grid-column-gap: 4px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.spantwo {
    grid-column: span 2;
}

#chooser h2,
#chooser h3 {
    font-weight: normal;
    font-style: italic;
    color: var(--dark-text-dark);
    grid-column-start: 1;
    grid-column-end: 6;
}

#chooser label:hover {
    color: var(--dark-text-light);
    cursor: pointer;
}

.note {
    color: var(--dark-accent-light);
    display: inline-block;
    opacity: 0.8;
    background-color: transparent;
    padding: 1px 1px 1px 0px;
    border-radius: 2px;
    width: 12px;
    height: 12px;
    line-height: 8px;
    text-align: left;
}

.note:hover {
    background-color: var(--dark-bg-lighter);
    color: var(--light-text-dark);
    color: var(--light-accent-light);
    opacity: 1;
    cursor: help;
}

.group {
    font-size: 1.2em;
    font-style: italic;
    grid-column: 2 / span 3;
}

.skiprow {
    grid-column: 1 / span 5;
    font-size: 0.2em;
}

.count {
    padding-right: 4px;
    text-align: right;
    color: var(--dark-text-darker);
}

pre {
    background-color: var(--light-bg-dark);
    color: var(--light-text-dark);
    font-family: monospace;
    padding: 2px 4px;
    border-radius: 3px;
    text-align: center;
    display: inline-block;
}

#chooser pre {
    background-color: var(--dark-bg-dark);
    color: var(--dark-text-dark);
}

#chooser button {
    background-color: var(--dark-bg-dark);
    color: var(--dark-text-dark);
    margin: 12px 0px 20px 0px;
    grid-column: 2 / span 3;
}

#chooser button:hover {
    background-color: var(--dark-accent);
    color: var(--dark-text-light);
}

#content {
    grid-row: 2;
	grid-column: 2;
    background-color: var(--light-bg-light);
    border-left: 2px solid var(--dark-bg-light);
	padding: 10px 10px 20px 20px;
    overflow-y: scroll;
}

#content h1,
#content h2,
#content h3 {
    font-weight: normal;
    font-style: italic;
    color: var(--light-text-dark);
}

.copyCode {
    display: inline-block;
    background-color: white;
    color: var(--light-text-dark);
    cursor: text;
    padding: 4px;
    font-family: monospace;
    min-width: 80px;
}

.contentCharBlock {
    margin: 12px 10px 20px 0px;
    display: grid;
    grid-template-columns: repeat(17, 48px);
    grid-column-gap: 1px;
    grid-row-gap: 1px;
}

.contentCharBlock .title {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 15;
    margin-bottom: 4px;
}

.contentCharBlock .actions {
    text-align: right;
    grid-row: 1;
    grid-column-start: 15;
    grid-column-end: 18;
}

.hex {
    background-color: var(--light-bg-dark);
    color: var(--light-text-light);
    font-family: monospace;
    padding: 4px;
    display: table;
    text-align: center;
}

.hex span {
    background-color: var(--light-bg-dark);
    color: var(--light-text-light);
    display: table-cell;
    font-family: monospace;
    vertical-align: middle;
}

.charTile {
	min-width: 48px;
    height: 48px;
    font-size: 28px;
    border: 1px solid white;
    background-color: white;
    color: black;
	text-align: center;
	line-height: 48px;
}

.charTile:hover {
    cursor: pointer;
    border-color: var(--light-accent-light);
}

.bigCharTile {
    display: inline-block;
    height: 120px;
    min-width: 120px;
    font-size: 96px;
    background-color: white;
    color: black;
	text-align: center;
    line-height: 120px;
    margin-right: 12px;
}

.bigCharTile:hover {
    cursor: text;
}

.noChar {
    opacity: 0.4;
    user-select: none;
}

.noChar:hover {
    cursor: not-allowed;
    border-color: transparent;
}

.titleLink {
    font-size: 0.6em;
    font-family: 'Times New Roman', Times, serif;
    opacity: 0.4;
    text-decoration: none;
    margin-left: 10px;
    font-style: normal;
}

.titleLink:hover {
    text-decoration: underline;
    opacity: 1;
}

#dialog {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    z-index: 1000;
    opacity: 0;
    transition: opacity 100ms ease-in-out;
}

#dialogContent {
    padding: 0px 20px 30px 30px;
    margin: 10vh auto 0px auto;
    max-height: 80vh;
    width: 700px;
    background-color: var(--light-bg-light);
    text-align: left;
    border: 1px solid var(--dark-bg-lighter);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    transition-delay: 100ms;
}

#dialogContent h1,
#dialogContent h2,
#dialogContent h3 {
    color: var(--light-text-lighter);
    font-weight: normal;
    margin-bottom: 12px;
}

#dialog .actionButton {
    position: relative;
    left: 660px;
    top: -10px;
}

.twoColumn {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-row-gap: 12px;
    grid-column-gap: 12px;
}

.colOne {
    grid-column: 1;
}

.colTwo {
    grid-column: 2;
}

.key {
    grid-column: 1;
    color: var(--light-text-light);
}

.value {
    grid-column: 2;
    color: var(--light-text-dark);
    text-align: left;
}

.light {
    opacity: 0.5;
}

select {
    padding: 2px 0px 2px 2px;
}

.allNoto {
    font-family: 'Noto Sans',
    'Noto Sans Kannada',
    'Noto Sans Thaana',
    'Noto Sans Gurmukhi UI',
    'Noto Sans Telugu',
    'Noto Sans Oriya',
    'Noto Sans Gujarati UI',
    'Noto Sans Sundanese',
    'Nico Moji',
    'Noto Sans Samaritan',
    'Noto Sans Linear B',
    'Noto Sans New Tai Lue',
    'Noto Sans Gothic',
    'Hannari',
    'Lohit Bengali',
    'Noto Sans Malayalam UI',
    'Noto Sans Shavian',
    'Noto Sans Tagbanwa',
    'Noto Sans Old Turkic',
    'Noto Sans Kannada UI',
    'Noto Sans Osmanya',
    'Noto Sans Tifinagh',
    'Noto Sans Deseret',
    'Noto Sans Cypriot',
    'Noto Sans Old Italic',
    'Noto Sans Tai Viet',
    'Noto Sans Yi',
    'Noto Sans Tai Tham',
    'Noto Sans Bengali',
    'Noto Sans Tamil',
    'Noto Sans Tagalog',
    'Noto Sans Thai UI',
    'Noto Sans Ethiopic',
    'Jeju Gothic',
    'Jeju Myeongjo',
    'Noto Sans Carian',
    'Noto Sans Inscriptional Pahlavi',
    'KoPub Batang',
    'Noto Sans Lao',
    'Ponnala',
    'Noto Sans Imperial Aramaic',
    'Noto Sans Inscriptional Parthian',
    'Noto Serif Georgian',
    'Noto Naskh Arabic',
    'Noto Sans Devanagari',
    'Noto Sans Meetei Mayek',
    'Noto Sans Tamil UI',
    'Thabit',
    'Noto Sans Brahmi',
    'Noto Sans Ol Chiki',
    'Karla Tamil Inclined',
    'Lao Muang Khong',
    'Noto Sans Runic',
    'Karla Tamil Upright',
    'Lao Muang Don',
    'Nikukyu',
    'Noto Sans Khmer',
    'Phetsarath',
    'Noto Nastaliq Urdu Draft',
    'Noto Sans Javanese',
    'Noto Nastaliq Urdu',
    'Noto Sans Myanmar UI',
    'Noto Sans Japanese',
    'Noto Sans Oriya UI',
    'Noto Sans SC Sliced',
    'Noto Sans Balinese',
    'Noto Kufi Arabic',
    'Noto Sans Cham',
    'Myanmar Sans Pro',
    'Noto Sans Batak',
    'Noto Sans Phoenician',
    'Noto Sans Kayah Li',
    'Noto Sans Rejang',
    'Noto Sans Sinhala',
    'Noto Sans Lepcha',
    'Noto Serif Khmer',
    'Noto Sans Kufi Arabic',
    'Noto Sans Egyptian Hieroglyphs',
    'Noto Sans Bamum',
    'Noto Sans Lycian',
    'Noto Sans Syloti Nagri',
    'Noto Sans Tai Le',
    'Noto Sans Gujarati',
    'Noto Sans Myanmar',
    'Lohit Devanagari',
    'Noto Sans Avestan',
    'Noto Sans Gurmukhi',
    'Noto Sans Kharoshthi',
    'Noto Sans Ugaritic',
    'Open Sans Hebrew',
    'Lohit Tamil',
    'Noto Sans Mandaic',
    'Noto Sans Old Persian',
    'NATS',
    'Noto Sans Old South Arabian',
    'Noto Sans Armenian',
    'Noto Sans Malayalam',
    'Noto Sans Cherokee',
    'Noto Sans Vai',
    'Noto Sans Hanunoo',
    'Noto Sans Khmer UI',
    'Noto Sans Lao UI',
    'Lao Sans Pro',
    'Hanna',
    'Kokoro',
    'Noto Sans Devanagari UI',
    'Noto Sans Telugu UI',
    'Open Sans Hebrew Condensed',
    'Noto Sans Phags Pa',
    'Dhyana',
    'Noto Sans Canadian Aboriginal',
    'Noto Sans Mongolian',
    'Noto Sans Kaithi',
    'Noto Serif Armenian',
    'Noto Sans Georgian',
    'Noto Sans Tibetan',
    'Noto Serif Thai',
    'Noto Sans Saurashtra',
    'Noto Sans Lisu',
    'Noto Sans Syriac Eastern',
    'Noto Sans Thai',
    'Noto Sans Bengali UI',
    'Noto Sans Buhid',
    'Jeju Hallasan',
    'Noto Sans Buginese',
    'Noto Sans Coptic',
    'Noto Sans Syriac Western',
    'Noto Sans Lydian',
    'Souliyo',
    'Tharlon',
    'Noto Sans Cuneiform',
    'Noto Serif Lao',
    'Noto Sans Hebrew',
    'Noto Sans Limbu',
    'Noto Sans Syriac Estrangela',
    'Noto Naskh Arabic UI',
    'Noto Sans Ogham',
    sans-serif
}