/**
	Common
**/

#wrapper {
	display: grid;
	grid-template-rows: 50px 1fr;
	row-gap: 20px;
	height: 100vh;
	max-height: 100vh;
	max-width: 1350px;
	overflow: hidden;
	margin: 0px auto;
}


.actionButton {
	display: inline-block;
	border: 0;
	border-radius: 50%;
	background-color: var(--gray-90);
	color: var(--gray-80);
	font-size: 13px;
	padding: 4px;
	text-align: center;
	line-height: 0px;
	height: 22px;
	width: 22px;
}

.actionButton:hover {
	background-color: var(--accent-50);
	color: white;
	cursor: pointer;
}


/**
	====================
		Top grid row
	====================
**/

#header {
	display: grid;
	grid-template-columns: min-content max-content 1fr;
	z-index: 400;
	height: 50px;
	padding-top: 20px;
}

#logo {
	padding: 0px 20px 0px 10px;
	margin: 0;
	height: 100%;
	z-index: 500;
	font-weight: bold;
	font-size: 36px;
	position: relative;
	top: -4px;
	color: var(--accent-40);
	display: inline-block;
}


/**
	Page Chooser
**/

#menu {
	background-color: var(--gray-90);
	color: var(--accent-30);
	text-align: center;
	border-radius: var(--radius-medium);
	height: min-content;
	width: min-content;
	font-size: 1.2em;
	position: absolute;
	top: 12px;
	display: none;
	z-index: 1000;
	box-shadow: 4px 4px 4px -2px var(--gray-30);
	padding: 10px;
}

#menu button {
	display: block;
	width: 100%;
	text-align: left;
	font-size: 1.2em;
	color: var(--gray-10);
	padding: 10px 24px;
}

#menu button:hover {
	background-color: var(--gray-95);
	color: var(--accent-30);
}

#menuButton {
	font-size: 1.5em;
	font-weight: bold;
	line-height: 0px;
	color: var(--gray-70);
	background-color: var(--gray-95);
	border: 1px solid var(--gray-90);
	width: 30px;
	height: 30px;
	padding: 5px 0px 0px 0px;
	position: relative;
	top: 4px;
}

#menuButton:hover,
#menuButton:hover span {
	color: var(--accent-50);
	cursor: pointer;
}
#menuButton:hover {
	border-color: var(--accent-50);
	box-shadow: 0px 0px 4px -2px var(--gray-60);
}

/**
	Char Search Area
**/

#charSearchBar {
	grid-row: 1;
	grid-column: 3;
	height: 30px;
	z-index: 100;
	display: grid;
	grid-template-columns: 360px 1fr;
	grid-column-gap: 20px;
}

.charSearchInputGroup {
	background-color: white;
	border: 1px solid white;
	border-radius: var(--radius-medium);
	padding: 0px;
	grid-column: 1;
	display: grid;
	grid-template-columns: 30px 300px 20px;
}

.charSearchInputGroup:hover,
.charSearchInputGroup:focus {
	border: 1px solid var(--accent-70);
}

.charSearchInputGroup .searchIcon {
	font-size: 1.5em;
	width: 30px;
	text-align: center;
	line-height: 30px;
	position: relative;
	top: -2px;
	color: var(--gray-70);
}

.charSearchInputGroup #searchInput {
	font-size: 1.1em;
	color: var(--gray-05);
	border: 0px;
	margin-left: 4px;
}

.charSearchInputGroup #searchInput:focus {
	outline: 0;
	border: 0;
}

.charSearchInputGroup .actionButton {
	margin: 4px 0px 0px 0px;
	background-color: white;
}

.charSearchInputGroup .actionButton:hover {
	background-color: var(--accent-70);
}

#charSearchStatus {
	grid-column: 2;
	color: var(--gray-20);
	font-style: italic;
	display: table-cell;
	vertical-align: middle;
	padding: 5px 0px 0px 0px;
}


/**
	======================
		Page content
	======================
**/
#content {
	overflow: hidden;
	z-index: 300;
	max-height: calc(100vh - 60px);
}

.scrollArea {
	max-height: calc(100vh - 70px);
	overflow-x: hidden;
	overflow-y: auto;
}

/**
	=============
		Pages
	=============
**/


/**
	Page - Search
**/

.gridContents {
	display: grid;
	grid-template-columns: 28px repeat(100, 1fr);
	grid-template-columns: 28px 1fr min-content min-content min-content;
	grid-column-gap: 2px;
	grid-row-gap: 2px;
	margin-right: 10px;
	width: 100%;
	margin-bottom: 20px;
}

.gridContents .columnHeader {
	background-color: var(--gray-90);
	color: var(--gray-20);
	padding: 8px 8px 8px 4px;
	font-style: italic;
	font-size: 0.6em;
	border-radius: var(--radius-small);
}

.gridContents .rowWrapper {
	display: contents;
}

.gridContents .rowWrapper div {
	border-style: solid;
	border-color: transparent;
	border-width: 1px 0px 1px 0px;
	background-color: var(--gray-95);
	display: table-cell;
	vertical-align: middle;
	max-height: 28px;
}

.gridContents .rowWrapper:hover div {
	background-color: white;
	border-color: var(--accent-70);
}

.gridContents .rowWrapper:hover * {
	cursor: pointer;
}

.gridContents .charTile {
	padding: 0 !important;
	background-color: white !important;
	max-width: 28px;
	grid-column: 1;
}

.gridContents .charName,
.gridContents .rangeName {
	padding: 4px 8px 0px 8px;
}

.gridContents .codePoint {
	padding: 1px 4px 0px 4px;
}
.gridContents .codePoint pre {
	margin-top: 2px;
}

.gridContents .charFavorite,
.gridContents .charFavorite:hover {
	padding: 0px 4px 1px 4px;
	border: 1px solid transparent !important;
	background-color: var(--gray-95) !important;
}

/**
	Page - Favorites
**/

.favorite,
.addFavorite {
	border: 1px solid transparent;
}

.favorite {
	border-color: hsl(55, 67%, 67%);
	background-color: hsl(55, 100%, 90%);
	color: hsl(40, 50%, 50%);
}

.favorite:hover {
	color: hsl(40, 50%, 60%);
	border-color: hsl(55, 67%, 80%);
	cursor: pointer;
}

.addFavorite {
	font-style: italic;
	background-color: rgba(0, 0, 0, 0.02);
}

.addFavorite:hover {
	color: hsl(55, 100%, 30%);
	border-color: hsl(55, 100%, 30%);
	cursor: pointer;
}

/**
	Page - Settings
**/
.settings {
	max-width: 800px;
	color: var(--gray-20);
	background-color: var(--gray-95);
	border-radius: var(--radius-large);
	padding: 10px;
}

.value input[type=number],
.value option {
	width: 200px;
	padding: 2px 0px 2px 2px;
}

/**
	Dialog
**/

.dialog {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	z-index: 1000;
	opacity: 0;
	transition: opacity 100ms ease-in-out;
}

.dialogContent {
	padding: 0px 20px 30px 30px;
	margin: 10vh auto 0px auto;
	width: 700px;
	height: min-content;
	max-height: 80vh;
	background-color: var(--gray-90);
	text-align: left;
	border: 1px solid var(--gray-40);
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.0);
	opacity: 0;
	transition: opacity 200ms ease-in-out;
	transition-delay: 100ms;
	border-radius: var(--radius-large);
}

.dialogContent h1,
.dialogContent h2,
.dialogContent h3 {
	color: var(--gray-20);
	font-weight: normal;
	margin-bottom: 12px;
}

.dialog .actionButton {
	border-radius: 50%;
	width: 2em; height: 2em;
	position: relative;
	left: 18px;
	top: 2px;
	color: var(--gray-30);
}

.dialog .actionButton:hover {
	color: var(--gray-90);
}

.twoColumn {
	display: grid;
	grid-template-columns: min-content 1fr;
	grid-row-gap: 12px;
	grid-column-gap: 12px;
}

.colOne {
	grid-column: 1;
}

.colTwo {
	grid-column: 2;
}

.key {
	grid-column: 1;
	color: var(--gray-10);
	padding: 4px 4px 0px 0px;
}

.value {
	grid-column: 2;
	color: var(--gray-05);
	text-align: left;
}

.light {
	opacity: 0.5;
}

.value select,
.value input {
	padding: 4px 0px 4px 4px;
	width: 200px;
}

.value input[type='checkbox'] {
	width: 20px;
	height: 20px;
}

.copyButton {
	background-color: rgba(0, 0, 0, 0.02);
}

.copyButton:hover {
	color: var(--accent-40);
	border-color: var(--accent-40);
	cursor: pointer;
}